*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../home/rice-and-chorizo-burrito.jpg.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
}


.menu_bar {
    background: black;
    text-align: center;
}

.menu_bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff; 
}

.menu_bar ul li {
    width: 160px;
    margin: 15px; 
    padding: 15px; 

}

.menu_bar ul li a {
    text-decoration: none;
    color: white; 
}

.active, .menu_bar ul li:hover{
    background-color: #1995AA;
    border-radius: 3px;

}

.menu_bar .fa-solid {
    margin-right: 8px; 
}

.sub-menu-1{
    display:none; 
}

.menu_bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #1995AA;
    margin-top: 15px;
    margin-left: -15px; 
    z-index: 10; 
}

.menu_bar ul li:hover .sub-menu-1 ul{
    display:block; 
    margin: 10px; 
}

.menu_bar ul li:hover .sub-menu-1 ul li{
    width: 110px;
    padding: 10px;
    border-bottom: 1px dotted white; 
    background: transparent;
    border-radius: 0;
    text-align: left; 
}



.menu_bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

.menu_bar ul li:hover .sub-menu-1 ul li a:hover{
    color: black; 
}

.content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 97.5%;
    height: auto;
    padding: 50px;
}

button {
    padding: 10px;
    margin: 10px;
}

.itemBtns {
    border-radius: 1.5rem;
    background-color: #ffffff;
    color: black;
    border: 2.5px solid #4CAF50; /* Green */
}

.itemBtns:hover {
    background-color: #4CAF50; /* Green */
}

.order {
    float: right;
    width: 55%;
    background-color: #1995AA;
}

#items {
    padding: 5px;
}

#total {
    background-color: plum;
    width: 20%;
    margin: 5px;
}

.completeOrderBtn {
    float: right;
}

.optionTag {
    color: white;
    font-weight: bold;
}

.goog-logo-link {
    display:none !important;
} 
    
.goog-te-gadget{
    color: transparent !important;
}