*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(../../home/rice-and-chorizo-burrito.jpg.webp) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: sans-serif;
}


.menu_bar {
    background: black;
    text-align: center;
}

.menu_bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff; 
}

.menu_bar ul li {
    width: 160px;
    margin: 15px; 
    padding: 15px; 

}

.menu_bar ul li a {
    text-decoration: none;
    color: white; 
}

.active, .menu_bar ul li:hover{
    background-color: #1995AA;
    border-radius: 3px;

}

.menu_bar .fa-solid {
    margin-right: 8px; 
}

.sub-menu-1{
    display:none; 
    z-index: 20;
}

.menu_bar ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: #1995AA;
    margin-top: 15px;
    margin-left: -15px; 
    z-index: 20; 
}

.menu_bar ul li:hover .sub-menu-1 ul{
    display:block; 
    margin: 10px; 
    z-index: 20;
}

.menu_bar ul li:hover .sub-menu-1 ul li{
    width: 110px;
    padding: 10px;
    border-bottom: 1px dotted white; 
    background: transparent;
    border-radius: 0;
    text-align: left; 
}



.menu_bar ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}

.menu_bar ul li:hover .sub-menu-1 ul li a:hover{
    color: black; 
}



.table {
    max-width: 55%; 
    left: 40%;
    top: 20%; 
    height: 70%; 
    position: absolute; 
    text-align: center;
    color: #fff; 

}
table {
    position: relative; 
    text-align: center;
    color: #fff; 
    overflow-y: scroll; 
    display: block; 
    height: 100%;
    width: 100%; 
}

table, th, td {
    border-collapse: collapse;
    border: 2px solid  #1995AA;
}

th, td {
    padding: 5px; 
}





.dropbtn{
    text-align: center;
    color: #fff; 
    background-color: #1995AA;
    color: #fff;
    padding: 16px; 
    font-size: 16px; 
    border-radius: 15px; 
    min-width: 80px; 
}

.dropdown1 {
    top: 20%; 
    left: 3%; 
    position: absolute; 
    display: inline-block;
}

.dropdown2 {
    top: 20%;
    left: 17%; 
    position: absolute;
    display: inline-block; 
}

.dropdown3 {
    top: 20%;
    left: 31%; 
    position: absolute;
    display: inline-block; 
    z-index: 10;
}

.start_date {
    top: 70%;
    position: absolute;
    left: 3%; 
}
.end_date {
    top: 70%;
    position: absolute; 
    left: 17%; 
}


.submit-btn {
    text-align: center;
    color: #fff; 
    background-color: #1995AA;
    color: #fff;
    padding: 16px; 
    font-size: 16px; 
    border-radius: 15px; 
    min-width: 80px; 
    position: absolute; 
    top: 70%; 
    left: 31%; 
    
}

.enable_button {
    text-align: center;
    color: #fff; 
    background-color: #1995AA;
    color: #fff;
    padding: 16px; 
    font-size: 16px; 
    border-radius: 15px; 
    min-width: 80px; 
    position: absolute; 
    top: 10%; 
    left: 15%; 
}


.date_inputs {
    font-size: 16px; 
    background-color: #1995AA;
    color: white; 
    border-radius: 15px;
    padding: 15px; 
}

.date_inputs:hover {
    background-color: #17869C;
}

.dropdown_content{
    display: none; 
    position: absolute;
    background-color: #17869C;
    min-width: 80px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2); 
}

.dropdown_content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
}

.dropdown_content button{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
    min-width: 140px;
    background-color: #1995AA;
}

.dropdown_content button:hover {
    background-color: #17869C;
    opacity: .3; 
}


.dropdown1:hover .dropdown_content {
    display: block; 
}

.dropdown1:hover .dropbtn {
    background-color: #17869C;
}

.dropdown2:hover .dropdown_content {
    display: block; 
}

.dropdown2:hover .dropbtn {
    background-color: #17869C;
}

.dropdown3:hover .dropdown_content {
    display: block; 
}

.dropdown3:hover .dropbtn {
    background-color: #17869C;
}